@import 'colors';
@import 'typography';

//Dark mode

button{
    display: inline-block;
    padding: 25px 55px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
    letter-spacing: 2.5px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
}

button:hover{
    background-color: white;
    color: black;
}