p {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
}

.mainTitle {
  color: #17192B;
  font-family: "League Spartan", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 80px; /* 100% */
  letter-spacing: -1px;
}

.grid-item .text-box h2, nav ul li {
  color: #242b37;
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}

p {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
}

.mainTitle {
  color: #17192B;
  font-family: "League Spartan", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 80px; /* 100% */
  letter-spacing: -1px;
}

.grid-item .text-box h2, nav ul li {
  color: #242b37;
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}

button {
  display: inline-block;
  padding: 25px 55px;
  color: #FFF;
  font-family: League Spartan;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: white;
  color: black;
}

body {
  margin: 0;
}

.hero {
  height: 100vh;
  background-color: #181818;
  padding: 45px 165px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
}
nav ul li {
  color: white;
  font-size: 25px;
  list-style: none;
  padding: 20px;
}
nav ul li:hover {
  color: #9e7f66;
}

.mainTitle {
  color: white;
  margin-top: 150px;
  margin-bottom: 10px;
}

.heroImage {
  background-image: url("../assets/images/heroImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContent {
  flex-grow: 1;
  display: flex;
  position: relative;
  width: 50%;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}

p {
  color: white;
}

.heroDescription {
  flex: 1;
}

.heroImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 66.66%;
}

button {
  margin-top: 40px;
}

.main-content {
  height: 100vh;
  background-color: white;
  padding: 45px 165px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: visible;
  position: relative;
}
.grid-item img {
  width: 50%;
}
.grid-item .background-rectangle-left,
.grid-item .background-rectangle-right {
  position: absolute;
  height: 320px;
  width: 1000px;
  z-index: 0;
  border-radius: 100px 100px 0px 0px;
  opacity: 0.0774;
  background: #5C6779;
  bottom: 0;
}
.grid-item .background-rectangle-left {
  left: -200px;
}
.grid-item .background-rectangle-right {
  right: -200px;
}
.grid-item .lines-overlay {
  position: absolute;
  top: 40%;
  left: 95%;
  width: 160px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.grid-item .lines-overlay .line {
  width: 160px;
  height: 6px;
  background-color: #9E7F66;
}
.grid-item #grid1-image {
  height: 700px;
  flex-grow: 0;
  position: relative;
  z-index: 1;
  margin-top: -100px;
  margin-right: 150px;
  box-shadow: 0px 30px 60px 5px rgba(0, 0, 0, 0.3);
}
.grid-item #grid2-image {
  height: 700px;
  flex-grow: 0;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  justify-self: flex-end;
  margin-left: 150px;
}
.grid-item .text-box {
  flex: 1;
  margin: 0;
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
}
.grid-item .text-box p {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
}
.grid-item .text-box .overlay {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  bottom: 200px;
  height: 100%;
}
.grid-item .text-box .overlay .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #9E7F66;
  margin-right: 5px;
}
.grid-item .text-box .overlay .line {
  width: 56px;
  height: 2px;
  background-color: #9E7F66;
}

@media (max-width: 600px) {
  .grid-item {
    flex-direction: column;
  }
}/*# sourceMappingURL=generalStyle.css.map */