@import '_colors';
@import '_typography';
@import '_buttons';

body {
    margin: 0;
    
}

.hero {
    height: 100vh;
    background-color: $mirage;
    padding: 45px 165px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    ul{
        display: flex;
       li{
        @extend %heading2;
        color: white;
        font-size: 25px;
        list-style: none;
        padding: 20px;
           &:hover{
               color: $beaver;
           }
       }
   }
}  

h1{
    @extend %heading2;
}

