@import '_colors';
@import '_typography';
@import '_buttons';

body {
    margin: 0;
    
}

.hero {
    height: 100vh;
    background-color: $mirage;
    padding: 45px 165px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

nav {
    ul{
        display: flex;
       li{
        @extend %heading2;
        color: white;
        font-size: 25px;
        list-style: none;
        padding: 20px;
           &:hover{
               color: $beaver;
           }
       }
   }
}  

.mainTitle{
    @extend %heading1;
    color: white;
    margin-top: 150px;
    margin-bottom: 10px;
}

.heroImage{
    background-image: url("../assets/images/Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.heroContent{
    flex-grow: 1;
    display: flex;
    position: relative;
    width: 50%;
    height: 400px;
    overflow: hidden;
    z-index: 1;

}

p{
    color: white;
}

.heroDescription{
     flex: 1;
     
}

.heroImage{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66.66%;
   

    
}

button{
    margin-top: 40px;
}

